*.2da text eol=lf
*.bcs binary
*.baf text eol=lf
*.c text eol=lf
*.d text eol=lf
*.h text eol=lf
*.in text eol=lf
*.md text eol=lf
*.ml text eol=lf
*.mli text eol=lf
*.mll text eol=lf
*.mly text eol=lf
*.mus text eol=lf
*.nix text eol=lf
*.ocaml text eol=lf
*.pl text eol=lf
*.rc text eol=crlf
*.sample text eol=lf
*.sh text eol=lf
*.sty text eol=lf
*.tex text eol=lf
*.tp2 text eol=lf
*.tpa text eol=lf
*.tpp text eol=lf
*.tra text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
